.product{
    padding-top: 6rem;
    height: 100vh;

    h1{
        font-size: 2rem;
        margin: 1rem;
        text-align: center;
    }
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}
.contant{
    padding:5px;
    margin: 10px;

    border-radius: 5px;
    background-color: var(--with-500);
    

    box-shadow: 1px 1px 5px #0000001f;


}
.Curchase{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.img{
    border-radius: 5px;
    height: 250px;
    width: 150px;
}



.boxtext{
    margin-top: 0.5rem;
    width: 150px; 
   
    h2{
        display: block;
        font-size: 0.8rem;
        margin: 0 5px;
        

    }
}
.description{
    margin:5px;

    display: block;


    height: 2rem;
    overflow-y: scroll;

    font-size: 0.6rem;
    color: var(--gray-400);
    
    animation-name: slide;
    animation-duration: .3s;
   
    // &:hover{
    //     animation-name: slide;
    //     animation-duration: .3s;
    //     animation-fill-mode: forwards;
    // }
}

// @keyframes slide {
//     to{
//         height:5rem;
//     }
// }